<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Fitness</title>
</head>

<body class="index-body">
  <%- include('./partials/_navbar.ejs') %>
  <img src="https://wallpapercave.com/dwp2x/wp5951778.jpg" alt="Muscular Saiyan Goku" class="Home-background">
    <div class="index-container">
      <div class="text-container">
        <h1 class="main-header">Welcome to Team Saiyan Fitness</h1>
      </div>
    </div>
</body>

</html>